<?xml version="1.0"?>
<!--
/**
 * Ffuenf_DeleteOrder extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category   Ffuenf
 *
 * @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
 * @copyright  Copyright (c) 2018 ffuenf (http://www.ffuenf.de)
 * @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_DeleteOrder>
            <version>2.0.7</version>
        </Ffuenf_DeleteOrder>
    </modules>
    <global>
        <helpers>
            <ffuenf_deleteorder>
                <class>Ffuenf_DeleteOrder_Helper</class>
            </ffuenf_deleteorder>
        </helpers>
        <blocks>
            <ffuenf_deleteorder>
                <class>Ffuenf_DeleteOrder_Block</class>
            </ffuenf_deleteorder>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ffuenf_DeleteOrder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <ffuenf_deleteorder_setup>
                <setup>
                    <module>Ffuenf_DeleteOrder</module>
                </setup>
            </ffuenf_deleteorder_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <deleteorder after="Mage_Adminhtml">Ffuenf_DeleteOrder_Adminhtml</deleteorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <deleteorder>
            <general>
                <enabled>1</enabled>
            </general>
        </deleteorder>
    </default>
    <uninstall>
        <filename>uninstall.txt</filename>
    </uninstall>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_DeleteOrder/>
            </modules>
        </suite>
    </phpunit>
</config>
