<?xml version="1.0"?>
<!--
/**
 * Ffuenf_DeleteOrder extension
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 * 
 * @category   Ffuenf
 * @package    Ffuenf_DeleteOrder
 * @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
 * @copyright  Copyright (c) 2015 ffuenf (http://www.ffuenf.de)
 * @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_DeleteOrder>
            <version>2.0.0</version>
        </Ffuenf_DeleteOrder>
    </modules>
    <global>
        <helpers>
            <ffuenf_deleteorder>
                <class>Ffuenf_DeleteOrder_Helper</class>
            </ffuenf_deleteorder>
        </helpers>
        <rewrite>
            <admin_adminhtml_sales_order>
                <from><![CDATA[#/admin/sales_order/#]]></from>
                <to>/deleteorder/adminhtml_sales_order/</to>
            </admin_adminhtml_sales_order>
        </rewrite>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Ffuenf_DeleteOrder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <admin>
        <routers>
            <deleteorder>
                <use>admin</use>
                <args>
                    <module>Ffuenf_DeleteOrder</module>
                    <frontName>deleteorder</frontName>
                </args>
            </deleteorder>
            <adminhtml>
                <args>
                    <modules>
                        <deleteorder after="Mage_Adminhtml">Ffuenf_DeleteOrder</deleteorder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <deleteorder>
            <general>
                <enabled>0</enabled>
            </general>
        </deleteorder>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_DeleteOrder/>
            </modules>
        </suite>
    </phpunit>
</config>
